<div id="svg-editor">
  <div id="svg-image-view">
    <div id="canvas_{{ image.name }}"></div>
  </div>
  <div id="svg-tools-view">
    <div *ngFor="let img of image.sections" class="svg-image-section">
      <label for="{{ img.id }}">{{ img.id }}</label>
      <select id="{{ img.id }}" (ngModelChange)="setFill(img, $event)" [(ngModel)]="img.value">
        <option *ngFor="let f of fills" ng-selected="img.value == f" value="{{f}}">{{ f }}</option>
      </select>
    </div>
    <div class="svg-image-save">
      <button (click)="saveToPng()">Save To PNG</button>
    </div>
  </div>
</div>
